<style>

    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        height: 60px;
        line-height: 60px;
    }

</style>

<center>
    <footer class = "footer">
        <div class = "container">
            <span class="text-light">Todos los derechos reservados @Andrés Emanuel Sánchez Cañedo</span>
            
    </div>
</center>